html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-page {
    display: flex;
    height: 100%;
    width: 100%
}

#navigation-bar {
    height: 100%;
    width: 20%;
    background-color: aqua;
}

#main-content-page {
    height: 100%;
    width: 80%;
    background-color: blueviolet;
}